<div class="flex items-center w-full" style="min-height: 100vh;">
    <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit(loginForm.value)"
        class="w-full mx-auto shadow-lg rounded-lg p-8" style="max-width: 400px;">
        <p class="text-2xl text-center">Log In</p>
        <p class="py-4">Email : </p>
        <input type="email" formControlName="email"
            class="w-full p-2 border border-gray-300 focus:shadow-outline rounded-sm" required />
        <p class="py-4">Password : </p>
        <input type="password" formControlName="password"
            class="w-full p-2 border border-gray-300 focus:shadow-outline rounded-sm" required />
        <div class="w-full text-center pt-8">
            <button type="submit" class="px-8 py-2 rounded-lg text-white bg-green-700 hover:bg-green-400">Login</button>
        </div>
        <p class="text-center text-sm py-5">If you don't have an account, please <a href="/register"
                class="text-red-700">Register</a></p>
    </form>
</div>